{% macro month_header(month_data) %}
    <div class="month-header line">
        <div class="month-label first-column">----- {{ "%02d"%month_data.month }}/{{ month_data.year }} -----</div>
        {% for day_number in month_data.days %}
            {% if day_number != 0 %}
                <div class="day-label day-cell">{{ day_number }}</div>
            {% else %}
                <div class="day-label-blank day-cell"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro game_line(game_name, days_data) %}
    <div class="game-line line">
        <div class="game-label first-column">{{ game_name }}</div>
        {% for day_data in days_data %}
            <div class="game-point day-cell">{{ "X" if day_data.event_count > 0 else "" }}</div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro month(month_data) %}
    <div class="month">
        {{ month_header(month_data) }}
        {% for line_data in month_data.lines %}
            {{ game_line(line_data.game_name, line_data.days) }}
        {% endfor %}
    </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Calendar</title>
    <style>
        .line {
            width: 100%;
            display: flex;
        }

        .first-column {
            min-width: 130px;
            max-width: 130px;
            margin-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .day-cell {
            border: 1px solid white; /* To be overridden if needed */
            min-width: 25px;
            max-width: 25px;
            text-align: center;
        }

        .month {
            border: 1px solid #CCC;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
        }

        .month-label {
            text-align: center;
        }

        .day-label {
            border: 1px solid grey;
            background-color: #88ffae;
        }
    </style>
</head>

<body>
<div class="month-container">
    {% for month_data in data %}
        {{ month(month_data) }}
    {% endfor %}
</div>
</body>
</html>
